body{
    background-color:rgba(183, 213, 226, 0.568);
}
.cHeader{
    padding:1em;
}
header{
    text-align:center;
    background-image: url(img/portada.jpg);
    height: 300px;    
    border-radius: 0.5em;
}
.clHeader{
    margin-top:1em;
}
header h1,h2{
    color: white;

}
#idFotoPerfil{
    width:200px;
    height:auto;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 10px;

}
.navSection{
    margin-top:5em;
}
.titulo{
    text-align:center;
}
