body{
    margin: 0;
    padding: 0;
}
header{
    text-align:center;
    background-image: url(img/portada.jpg);
    height: 300px;    
}
#idLogo{
    border: rgb(45, 255, 175) 2px solid;
    width:20%;
    height:80%;
    border-radius: 5em;
    z-index: 1;
}
header h1{
    color: white;
}
#idFotoPerfil{
    width:200px;
    height:auto;
    border: 3px rgb(196, 17, 17) solid;
}