@mixin list {
    padding: 5px;
    margin: 3px;
    list-style: none;
    border: 2px rgba(101, 111, 255, 0.789) solid;
    background-color: rgba(101, 111, 255, 0.789);
    border-radius: 4px;
    
}
.nav{
    a{
        text-decoration: none;
        color:white;
    }
    border-radius: 4px;
    border:1px black solid;
    ul{
        background-color: rgb(255, 255, 255);
        margin:0;
        padding: 2px;
        display: flex;
        :hover ul{
            display: block;
            border: 1px black solid;
            border-radius: 4px;
        }
        :hover{
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.193);
        }
    }
    li{

        @include list();
        line-height: 1rem;
        position: relative;
        ul{
     
            position:absolute;
            display: table;
            display: none;
            
        }
    }
}